html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Quicksand-Regular', sans-serif;
	font-size: 12px;
}

input,
button,
textarea {
	outline: none;
	border: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #111;
	outline: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	background-color: #fff;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

figure {
	margin: 0;
}

.title {
	margin-top: 40px;
	font-size: 30px;
	color: #000;
}

.navbar {
	height: 110px;
	background-color: #fff;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	padding: 0 30px;
	text-align: left;
	@include flex;
	margin-bottom: 50px;
}


.author__name {

	color: #000;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
}

.author__pos,
.categories__pos {
	display: flex;


	a:first-child {
		margin-right: 10px;
	}
}

.categories__name {

	color: #7347c1;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;

	line-height: 30px;
	text-align: left
}

.bottom {
	border-top: 1px solid rgb(236, 236, 236);
	@include flex;
}

.options {
	display: flex;

}

// .bakset.active {
// 	display: block;
// }

.basket {
	picture {
		margin-right: 6px;

		img:nth-child(1) {
			display: none;
		}
	}
}

.price,
.like,
.basket {
	margin-right: 20px;
}

.price {
	margin-top: 15px;
	line-height: 30px;
	padding: 0 20px;
	border-radius: 15px;
	background-color: $b;
	max-height: 30px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;

}

.like,
.basket {
	display: flex;
	font-size: 15px;
	margin-top: 20px;



	picture {
		margin-right: 6px;


	}
}

#none {
	display: none !important;
}

.stl-title {

	margin-bottom: 30px;
	font-size: 26px;
	font-family: 'Quicksand-Regular';
	color: rgb(0, 0, 0);
	line-height: 1.077;
	text-align: center;
}

.stl-subtitle {
	font-size: 16px;
	font-family: 'Quicksand-Regular';
	color: rgb(85, 85, 85);
	line-height: 1.75;
	text-align: center;
	margin: 0 65px 30px;

}



// .close {

// 	&-box {
// 		position: relative;
// 	}



// 	&-item {
// 		position: absolute;
// 		height: 4px;
// 		width: 35px;
// 		background-color: black;

// 		&:nth-child(1) {
// 			transform: rotate(45deg);
// 		}

// 		&:nth-child(2) {
// 			transform: rotate(-45deg);
// 		}
// 	}
// }

// .tab{

// }
// .tab-item{

// }
.agree {

		width: 500px;
		height: 500px;
		background-color: red;
	
}